/* label focus color */
.input-field input:focus + label {
  color: blue !important;
  font-weight: bold;
}

.input-field textarea:focus + label {
  color: blue !important;
  font-weight: bold;
}

.file-path::placeholder {
  color: #2fa3ad;
}

/* label underline focus color */
.row .input-field input:focus {
  border-bottom: 1px solid #0051ff !important;
  box-shadow: 0 1px 0 0 #0051ff !important
}

.row .input-field input {
  border-bottom: 1px solid #2fa3ad !important;
  box-shadow: 0 1px 0 0 #2fa3ad !important
}

.row .materialize-textarea {
  border-bottom: 1px solid #2fa3ad !important;
  box-shadow: 0 1px 0 0 #2fa3ad !important;
}

.row .materialize-textarea:focus {
  border-bottom: 1px solid #0051ff !important;
  box-shadow: 0 1px 0 0 #0051ff !important;
}

/* label color */
.input-field label {
  color: #2fa3ad;
}

/* icon prefix focus color */
.input-field .prefix {
  color: #2fa3ad;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: #0051ff;
}
     
#user_message {
  height: 150px;
  resize: none;
}