.background-blue {
    padding-bottom: 0px;
    background-color: #0287ba;
}

.logo-transmedic {
    width: 30%;
}

.border-btn {
    border-width: 2px; 
    border-color: ghostwhite; 
    border-style: solid;
    color: white;
    background-color: transparent;
}

h1, h2 {
    color: white;
}

.border-btn:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
}

.border-btn:hover {
    background-color: white;
    color: black;
  /*  Making button bigger on hover  */
    transform: scale(1.2) perspective(1px)
}
  
.div-benefits {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


@media screen and (max-width: 600px) {
    #navbar-logo {
        visibility: hidden;
    }
}

nav li a {
    font-size: 20px;
}

nav {
    height: 120px;
    line-height: 120px;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 120px;
    line-height: 120px;
}

nav .button-collapse i {
    height: 120px;
    line-height: 120px;
}

nav .brand-logo { 
    font-size: 1.6rem; 
}

@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 120px;
        line-height: 120px;
    }
}

.benefits-list ul {
    color: whitesmoke;
    font-size: 1.3rem;
    text-align: left;
}